.product-card {
    width: 150px;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 5px 2px #e0dbdb;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img {
    width: 100px;
    align-items: center;
}
p {
    font-size: 10px;
}